
<div class="content">
  <div class="container">
    <div class="row">
      <div class="aboutImg pt-3 col-md-6">
        <img class="img-fluid" src="../../assets/img/img1.png" alt="" />
      </div>
      <div class="col-md-6 pt-5">
        <div class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          minima dolore omnis eaque earum nulla. Mollitia, maxime? Atque
          obcaecati, fuga quam placeat, at, eius corporis expedita provident
          ullam eligendi ipsa.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 pt-5 order-lg-1 order-md-1 order-sm-2 order-2">
        <div class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          minima dolore omnis eaque earum nulla. Mollitia, maxime? Atque
          obcaecati, fuga quam placeat, at, eius corporis expedita provident
          ullam eligendi ipsa.
        </div>
      </div>
      <div class="aboutImg col-md-6 pt-3 order-lg-2 order-md-1 order-sm-1 order-1">
        <img class="img-fluid" src="../../assets/img/img1.png" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="aboutImg col-md-6 pt-3">
        <img class="img-fluid" src="../../assets/img/img1.png" alt="" />
      </div>
      <div class="col-md-6 pt-5">
        <div class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          minima dolore omnis eaque earum nulla. Mollitia, maxime? Atque
          obcaecati, fuga quam placeat, at, eius corporis expedita provident
          ullam eligendi ipsa.
        </div>
      </div>
    </div>
  </div>
</div>
