.content{  
    background-color: rgba($color: #1d1c1c, $alpha: 1.0);
    padding: 100px 0;
    color: rgba($color: #e4dcc4, $alpha: 1.0);

}




.text {
 font-size: 1rem;
 word-spacing: .3mm;
 line-height: 7mm;
}
