            .card {
                transition: .3s all linear;
                margin: 10px;
                .card-box {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 20px;
                    transition: .2s all linear;
                    transform: translateY(50px);
                    visibility: hidden;
                }
                .card-title {
                    font-size: 1.5rem;
                    color: #f2f2f2;
                    i {
                        display: inline;
                    }
                }
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
                    .card-box {
                        transform: translateY(0px);
                        visibility: visible;
                        background-color: rgba(0, 0, 0, 0.9);
                    }
                }
            }
            
            * {
                overflow: hidden;
            }
            
            .mat-badge-large.mat-badge-overlap.mat-badge-after .mat-badge-content {
                right: 10px;
                top: 10px;
                font-size: 17px;
                width: 38px;
                height: 38px;
                line-height: 38px;
                background-color: rgb(197, 201, 6);
            }