.content {
  background-color: rgba($color: #1d1c1c, $alpha: 1);

  color: rgba($color: #e4dcc4, $alpha: 1);
}

.accordion-button {
    background-color: rgba($color: #474545, $alpha: 1);
    border: none;
    color: rgba($color: #b8b3b3, $alpha: 1);
}

.accordion-collapse {
    border:none;
}
